################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AvinyaQuickCommerce/FileContentIndex/11c9ab6c-848c-4e50-8882-0266c5d31a7a.vsidx
